body{
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html{
  font-size: 100%;
}
img{
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.font2{
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font3{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.orange{
  color: #DEA021;
}
.inner{
  max-width: 1200px;
  padding: 0 4%;
  margin: 0 auto;
}
.section-title{
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 50px;
}
.section-sub-title{
  font-size: 28px;
}
.num{
  font-size: 64px;
}

/* ボタンの基本スタイル */

.btn a {
  position: relative;
  display: block;
  
  padding: 15px 0;
  background-color: #DEA021;
  font-weight: 700;
  color: #fff;
  line-height: 1.6;
  text-decoration: none;
  text-align: center;
  transition: .2s;
  box-sizing: border-box;
  border: 3px solid #DEA021;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}
.btn a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: .2s;
  box-sizing: border-box;
}

/* スライドする背景色のスタイル */

.btn a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform-origin: right top;
  transform: scaleX(0);
  transition: transform .2s ease;
  z-index: -1;
  border-radius: 10px;
}

/* ホバー時のスタイル */
.btn a:hover {
  color: #DEA021;
}
.btn a:hover::before {
  transform-origin: left top;
  transform: scaleX(1);
}
.btn a:hover::after {
  border-color: #DEA021;
}


/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}


/*header*/
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
  z-index: 100;
}
header h1{
  line-height: 1;
}
h1 a{
  display: block;
}
h1 a img{
  width: 100px;
}

.entrybtn1 {
  font-size: 18px;
  width: 300px;
}



/*front-mainvisual*/
.front-mainvisual{
  position: relative;
}
.slick{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.slick__bg {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.slick__bg01 {
  background-image: url("../img/download/6.jpg");
  background-position: 55% 20%;
}
.slick__bg02{
  background-image: url("../img/photo/img_0030.jpg");
  background-position: 80% 0%;
}
.slick__bg03{
  background-image: url("../img/photo/img_0217.jpg");
  background-position: 30% 15%;
}

.frontmain-tex{
  font-size: 48px;
  position: absolute;
  top: -60vh;
  left: 4%;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  color: #fff;
}

.front-message1{
  margin-top: 100vh;
  background: linear-gradient(rgba(3, 44, 110, 0), rgba(3, 44, 110, 0.8));
  color: white;
  padding: 0 4%;
}

.message-inner{
  padding: 500px 0 200px;
  width: 30%;
  /* margin: 0 auto; */
}
.message-inner p{
  line-height: 40px;
  margin-bottom: 80px;
}
.message-inner p:last-of-type{
  margin-bottom: 0;
}

.container{
  background: #fff;
  position: relative;
  z-index: 10;
}

/*front-message2*/
.front-message2{
  padding: 120px 0 150px;
}
.frontmessage2-tex{
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
}

/* 共通のスタイル */
.slick-slide {
  display: inline-block; /* 横並びにする */
}

/* slider2専用のスタイル */
.slider2 {
  direction: rtl;
  /* 左から右方向を指定 */
}

.slider2 .slick-slide {
  float: right;
    width: 100%; 
}

.front-message2-slider {
  transform: rotate(-5deg); 
}
.front-message2 {
  overflow: hidden;
}

.front-message2-slider img {
  height: 200px;
  object-fit: cover; /* 画像のサイズ調整 */
}

.front-message2-slider .slick-slide {
  padding: 0 10px; /* スライド間のスペース */
}

.slider1{
  margin-bottom: 20px;
}


/*interview*/
.interview{
  padding-bottom: 120px;
}
.interview-box{
  display: flex;
  justify-content: space-between;
}
.interview-box li{
  width: 42%;
}
.interview-box li img{
  height: 680px;
  object-fit: cover;
  object-position: 50% 0%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.interview-right{
  margin-top: 250px;
}
.interview-name{
  font-size: 14px;
}


/*reason*/
.reason{
  background: rgba(3, 44, 110, 0.1);
  padding-top: 120px;
  padding-bottom: 120px;
}
.reason-box{
  display: flex;
  justify-content: space-between;
  
}
.reason-box li{
  width: 48%;
}
.reason-box img{
  height: 350px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.r1{
  object-position: 90% 50%;
}
.r3{
  object-position: 25% 70%;
}
.reasonbox-2{
  margin: 80px 0;
}
.reasonbox-tex{
 margin-top: 80px;
}
.reason-title{
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.reason-sub-title{
  font-size: 24px;
}
.reason-tex p{
margin-bottom: 20px;
}

/*back-img*/
.back-img img{
  height: 700px;
  object-fit: cover;
  object-position: 37% 20%;
}

/*jobdescription*/
.jobdescription{
  padding: 120px 0;
}
.jd-box{
  display: flex;
  flex-wrap: wrap;
}
dt{
  width: 20%;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #032C6E;
}
dd{
  width: 80%;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

/*qa*/
.qa{
  padding: 120px 0;
  background: rgba(3, 44, 110, 0.1);
}
/*アコーディオン全体*/
.qa-area{
  width: 100%;
  margin:0 auto;
}

.qa-area li{
  margin: 20px 0;
}

.qa-area li>div {
background-color:  #fff;
border: 1px solid #fff;
border-radius: 20px;
}

/*アコーディオンタイトル*/
.qa-title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:16px;
  padding: 3% 3% 3% 20px;
  transition: all .3s ease;
  max-width: 94%;
}

/*アイコンの＋と×*/
.qa-title::before,
.qa-title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #333;
  
}
.qa-title::before{
  top:48%;
  right: -8px;
  transform: rotate(0deg);
  
}
.qa-title::after{    
  top:48%;
  right: -8px;
  transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.qa-title.close::before{
transform: rotate(45deg);
}

.qa-title.close::after{
transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.qa-box {
  display: none;/*はじめは非表示*/
  background: rgba(3, 44, 110, 0.1);
margin:0 3% 3% 3%;
  padding: 3%;
  border-radius: 20px;
}

.qa-box p:not(:last-of-type){
  margin-bottom: 20px;
}

/*front-message3*/
.front-message3{
  /* padding: 120px 0; */
  background: #032C6E;
}
.front-message3-box{
  display: flex;
  align-items: center;
}
.front-message3-left{
  width: 70%;
  text-align: center;
}
.front-message3-right{
  width: 20%;
  text-align: right;
}
.frontmessage3-tex{
  color: #fff;
  font-size: 48px;
  margin-bottom: 50px;
}
.entrybtn2{
  width: 60%;
  font-size: 24px;
  margin: 0 auto;
}
.slider3{
  transform: rotate(-15deg);
}
.slider3 img{
height: 250px;
object-fit: cover;
}
.front-message3{
  overflow: hidden;
}


/*footer*/
footer{
  background: #fff;
  padding: 30px 4% 10px;
}
.footer-box{
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.footer-box img{
  width: 100px;
}
.footer-box p{
  font-size: 12px;
}


@media (max-width:960px) {
  .num{
    font-size: 50px;
  }
  /*interview*/
  .interview-box li{
    width: 45%;
  }
.interview-box li img{
  height: 500px;
}
/*back-img*/
.back-img img{
  height: 500px;
}

}

@media(max-width:768px){
  .section-title{
    font-size: 28px;
    text-align: center;
  }
  .section-sub-title{
    font-size: 24px;
  }
  .num{
    font-size: 38px;
  }
  /*header*/
h1 a img{
  width: 80px;
}

.entrybtn1 {
  font-size: 16px;
  width: 250px;
}

/*front-mainvisual*/
.frontmain-tex{
  font-size: 38px;
  top: -42vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.message-inner{
  width: 50%;
  margin: 0 auto;
}
.message-inner p{
  line-height: 40px;
  margin-bottom: 80px;
}

.container{
  background: #fff;
  position: relative;
  z-index: 10;
}

/*front-message2*/
.front-message2{
  padding: 80px 0 100px;
}
.frontmessage2-tex{
  font-size: 32px;
}

.front-message2-slider img {
  height: 150px;
}

/*interview*/
.interview{
  padding-bottom: 80px;
}

.interview-box li img{
  height: 400px;
}
.interview-right{
  margin-top: 150px;
}



/*reason*/
.reason{
  padding-top: 80px;
  padding-bottom: 80px;
}
.reason-box{
  flex-direction: column;
}
.reason-box li{
  width: 100%;
}
.reasonbox-2{
  flex-direction: column-reverse;
  margin: 50px 0;
}
.reasonbox-tex{
 margin-top: 30px;
}
.reason-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.reason-sub-title{
  font-size: 18px;
}
.reason-tex p{
font-size: 14px;
}
/*back-img*/
.back-img img{
  height: 400px;
}
/*qa*/
.qa{
  padding: 80px 0;
}

/*front-message3*/

.frontmessage3-tex{
  font-size: 32px;
}
.entrybtn2{
  font-size: 18px;
}
.slider3 img{
height: 200px;
}
.entrybtn2{
  width: 80%;
}
/*footer*/
.footer-box img{
  width: 60px;
}


}

@media(max-width:500px){
  .btn a {
    padding: 10px 0;
    font-weight: 400;
  }
  .btn a::after {
    right: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }

   /*header*/
h1 a img{
  width: 60px;
}

.entrybtn1 {
  font-size: 16px;
  width: 200px;
}
.btn a::after {
  right: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}


  /*front-mainvisual*/
.frontmain-tex{
  font-size: 28px;
}
.message-inner{
  width: 80%;
  padding: 400px 0 200px;
}



  .interview-box{
    flex-direction: column;
  }
  .interview-box li{
    width: 80%;
  }
  .interview-box li img{
    height: 350px;
    object-fit: cover;
  }
  .interview-right{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
  }
  .interview-left:not(:last-of-type){
    margin-bottom: 50px;
  }
  .interview-name{
    font-size: 14px;
  }

  /*back-img*/
.back-img img{
  height: auto;
}
/*jobdescription*/
.jobdescription{
  padding: 80px 0;
}

dt{
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-bottom: none;
}
dd{
  width: 100%;
}

/*front-message3*/
.front-message3-right{
  width: 20%;
  text-align: right;
}
.frontmessage3-tex{
  font-size: 28px;
}
.entrybtn2{
  width: 100%;
  font-size: 16px;
}
.slider3 img{
height: 150px;
}

}